###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
.idea
./logs
./objects
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
